.miniLoading {
    position: relative;

    width: 5vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingCircle {
    position: absolute;

    width: 1.5vw;
    height: 1.5vw;

    border-radius: 50%;
    background:
        linear-gradient(
            135deg,
            #a52cff,
            #6416d8
        );

    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.loadingCircle1 {
    animation-name: circleLeft;
}

.loadingCircle2 {
    animation-name: circleRight;
}

@keyframes circleLeft {
    0% {
        transform: translateX(-1.8vw) scale(1);
    }

    35% {
        transform: translateX(-0.5vw) scale(1);
    }

    50% {
        transform: translateX(0) scale(1.8);
    }

    65% {
        transform: translateX(-0.5vw) scale(1);
    }

    100% {
        transform: translateX(-1.8vw) scale(1);
    }
}

@keyframes circleRight {
    0% {
        transform: translateX(1.8vw) scale(1);
    }

    35% {
        transform: translateX(0.5vw) scale(1);
    }

    50% {
        transform: translateX(0) scale(1.8);
    }

    65% {
        transform: translateX(0.5vw) scale(1);
    }

    100% {
        transform: translateX(1.8vw) scale(1);
    }
}