.placeForModal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 300;
}

.startPlace {
    height: 10vh;
}

@media all and (max-width: 768px) {

    .placeForModal {
        width: 100vw;
        height: 100vh;
    }

    .startPlace {
        height: 10vh;
    }

    .loading {
        width: 100vw;
        height: 100vh;
    }

    .loadingLogo {
        width: 35vw;
    }

    .loadingText {
        font-size: 6vw;
        text-align: center;
    }
}

@media all and (max-width: 480px) {

    .loadingLogo {
        width: 40vw;
    }

    .loadingText {
        font-size: 6.5vw;
    }
}

@media all and (max-width: 360px) {

    .loadingLogo {
        width: 44vw;
    }

    .loadingText {
        font-size: 7vw;
    }
}